<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <link rel="stylesheet" href="navbar.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-RGv4nIsxgaB/bXW+gT10aSZGEW98wlFUzRZXXuXE4shtz9gW4/24K/V/h3k2fwbh" crossorigin="anonymous">

</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['Flight Booking']">
        <i class="fas fa-plane"></i> Flight Booking</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" [routerLink]="['Search']">Search</a>
          <ng-container *ngIf="user !== undefined && user?.role?.includes('User')">
            <a class="nav-link" [routerLink]="['History',user.email]">History</a>
          </ng-container>
          <ng-container *ngIf="user !== undefined && user?.role?.includes('Admin')">
            <a class="nav-link" [routerLink]="['Management']">Management</a>
          </ng-container>
          <ng-container *ngIf="user === undefined; else ShowLogout">
            <!--Show Sign Up and Login button-->
            <a class="nav-link" [routerLink]="['Sign Up']">Sign Up</a>
            <a class="nav-link" [routerLink]="['Login']">Login</a>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Move outside container-fluid -->
    <div class="ml-auto" >
      <ng-template #ShowLogout>
        <div class="d-flex align-items-center">
          <div class="dropdown ms-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>{{user?.email}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" [routerLink]="['Manage Account',user?.email]">Manage Account</a>
            </div>
          </div>
          <button class="btn btn-primary ms-3" (click)="onLogout()">Logout</button>
        </div>
      </ng-template>
    </div>
  </nav>
</body>
</html>






