<div class="container">

  <h1 class="mt-3">Add Flight Details</h1>
  <form #from="ngForm" (ngSubmit)="OnSave()">
    <div class="mt-2">

      <div class="mt-3">
        <label class="form-label">Aeroplane Id</label>
        <input type="text" id="aeroId" class="from-control" name="aeroId" [(ngModel)]="model.aeroId">
      </div>

      <div class="mt-3">
        <label class="form-label">Aeroplane Name</label>
        <input type="text" id="aeroName" class="from-control" name="aeroName" [(ngModel)]="model.aeroName">
      </div>

      <div class="mt-3">
        <label class="form-label">Source</label>
        <input type="text" id="from_city" class="from-control" name="from_city" [(ngModel)]="model.from_city">
      </div>

      <div class="mt-3">
        <label class="form-label">Destinaton</label>
        <input type="text" id="to_city" class="from-control" name="to_city" [(ngModel)]="model.to_city">
      </div>

      <div class="mt-3">
        <label class="form-label">Departure</label>
        <input type="datetime-local" id="departure" class="from-control" name="departure" [(ngModel)]="model.departure">
      </div>

      <div class="mt-3">
        <label class="form-label">Arrival</label>
        <input type="datetime-local" id="arrival" class="from-control" name="arrival" [(ngModel)]="model.arrival">
      </div>

      <div class="mt-3">
        <label class="form-label">Fare</label>
        <input type="number" id="fare" class="from-control" name="fare" [(ngModel)]="model.fare">
      </div>

      <div class="mt-3">
        <label class="form-label">Seating Capacity</label>
        <input type="number" id="seatingCapacity" class="from-control" name="seatingCapacity" [(ngModel)]="model.seatingCapacity">
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>

    </div>
  </form>
</div>
